{% extends 'base.html' %}

{% block body %}
        <h1>about us </h1>
        <p>welcome to the Attendance management system</p>
        <p>Our system is designed to help organizations efficiently track and manage attendance for their employees, students, or members. With our user-friendly interface and powerful features, you can easily monitor attendance records, generate reports, and analyze trends to improve productivity and engagement.</p>
        <p>Whether you are a school administrator, HR manager, or event organizer, our Attendance Management System provides the tools you need to streamline attendance tracking and ensure accurate record-keeping. Join us today and experience the benefits of a modern attendance management solution!</p>
{% endblock %}